<div class='match_label'>
  Match
  <b>
    {{match.user1.first_name}} {{match.user1.last_name}}
  </b>
  and
  <b>
    {{match.user2.first_name}} {{match.user2.last_name}}
  </b>
</div>
<div class='profiles_box'>
  <div class='profile_picture left_pic' style='background-image: url({{match.user1.fb_photo_url_large}})'></div>
  <div class='profile_picture right_pic' style='background-image: url({{match.user2.fb_photo_url_large}})'></div>
</div>
<table cellpadding='0' cellspacing='0' class='yes_no_buttons'>
  <td>
    <div bs-modal="'partials/modal.html'" class='no_button'></div>
    <!-- %input.no_button -->
    <!-- %button.no_button{:type=>"button", "bs-modal"=>"'partials/modal.html'"} -->
    <!-- %button.no_button -->
    <!-- %button.no_button{:type=>"button", "ng-click"=>"viaService()"} -->
  </td>
  <td>
    <div bs-modal="'partials/modal.html'" class='yes_button'></div>
    <!-- %input.yes_button -->
    <!-- %button.yes_button -->
  </td>
</table>
<!-- %button.btn{:type=>"button", 'bs-modal'=>"'partials/modal.html'"} -->
