
.match_label
	Match
	%b 
		{{match.user1.first_name}} {{match.user1.last_name}}
	and
	%b 
		{{match.user2.first_name}} {{match.user2.last_name}}
		
.profiles_box
	#pro_pic_1{:style=>"background-image: url({{match.user1.fb_photo_url_large}} )"}
	#pro_pic_2{:style=>"background-image: url({{match.user2.fb_photo_url_large}} )"}

%table.options{:cellpadding=>"0", :cellspacing=>"0", :height=>"110px", :width=>"600px"}
	%td.yes_option Yes
	%td.no_option No
	
