
.match_label
	Match
	%b 
		{{match.user1.first_name}} {{match.user1.last_name}} 
	and
	%b 
		{{match.user2.first_name}} {{match.user2.last_name}}
		
.profiles_box
	
	.profile_picture.left_pic{:style=>"background-image: url({{match.user1.fb_photo_url_large}})"}
	.profile_picture.right_pic{:style=>"background-image: url({{match.user2.fb_photo_url_large}})"}
	
%table.yes_no_buttons{:cellpadding=>'0', :cellspacing=>'0'}
	%td
		.no_button{'bs-modal'=>"'partials/modal.html'"}
		/%input.no_button
		/%button.no_button{:type=>"button", "bs-modal"=>"'partials/modal.html'"}
		/%button.no_button
		/%button.no_button{:type=>"button", "ng-click"=>"viaService()"}
	%td
		.yes_button{'bs-modal'=>"'partials/modal.html'"}
		/%input.yes_button
		/%button.yes_button

/%button.btn{:type=>"button", 'bs-modal'=>"'partials/modal.html'"}
