%html{:lang => "en"}
	%head
		
		%link{:href=> 'stylesheets/bootstrap.css', :rel=>'stylesheet', :type=>'text/css'}
		%link{:href=> 'stylesheets/match_styles.css', :rel=>'stylesheet', :type=>'text/css'}
		%link{:href=> 'stylesheets/modal.css', :rel=>'stylesheet', :type=>'text/css'}
		%script{:src=>"../lib/angular/angular.js"}
			
		%script{:src=>"//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"}
		/%script{:src=>"//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"}
		%script{:src=>"//cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.4/angular-strap.min.js"}
			
		%script{:src=>"js/data.js"}
		%script{:src=>"js/controllers.js"}
	
	
		%script{:type=>"text/javascript", :src=>"http://twodegrees-dev.herokuapp.com/api/home?hz_access_token=113db9059a503738f763394940e17854&items_per_page=10&min_rank=1"}
	%body{"ng-controller"=> "MatchListCtrl"}
		%script{:type=>"text/javascript", :src=>"http://twodegrees-dev.herokuapp.com/api/home?hz_access_token=113db9059a503738f763394940e17854&items_per_page=10&min_rank=1"}
		.header
			#header_logo
		.match_page
			%ul
				%li{"ng-repeat"=> "match in matches"}
					.listing{"ng-include"=> "'partials/match_friends.html'"}
				//LISTING PARTIALS
		
