
/Hello Modal!

/.container
/.modal.hide.fade.in{:style=>"display: none;"}
.modal.fade.in.match_modal
	.modal-header
		/%button.close{:type=>"button", 'data-dismiss'=>"modal", 'aria-hidden'=>"true"} &times;
		%button.close{:type=>"button", 'data-dismiss'=>"modal"} x
		//%h3 Modal Header
	
	.modal-body
		//%h4 Text in a modal
		.profile_picture.left_pic{:style=>"background-image: url({{match.user1.fb_photo_url_large}})"}
		.profile_picture.right_pic{:style=>"background-image: url({{match.user2.fb_photo_url_large}})"}
		%h4 Hello World!
		
	.modal-footer
		%a.btn{:href=>"#", 'data-dismiss'=>'modal'} Close
		%a.btn.btn-primary{:href=>"#", 'data-dismiss'=>'modal'} Save Changes
