<!-- Hello Modal! -->
<!-- .container -->
<!-- .modal.hide.fade.in{:style=>"display: none;"} -->
<div class='modal fade in match_modal'>
  <div class='modal-header'>
    <!-- %button.close{:type=>"button", 'data-dismiss'=>"modal", 'aria-hidden'=>"true"} &times; -->
    <button class='close' data-dismiss='modal' type='button'>x</button>
    <h3>Modal Header</h3>
  </div>
  <div class='modal-body'>
    <h4>Text in a modal</h4>
  </div>
  <div class='modal-footer'>
    <a class='btn' data-dismiss='modal' href='#'>Close</a>
    <a class='btn btn-primary' data-dismiss='modal' href='#'>Save Changes</a>
  </div>
</div>
