<html lang='en'>
  <head>
    <link href='stylesheets/match_styles.css' rel='stylesheet' type='text/css'>
    <script src='../lib/angular/angular.js'></script>
    <script src='js/controllers.js'></script>
  </head>
  <body ng-controller='MatchListCtrl'>
    <div class='header'>
      <div id='header_logo'></div>
    </div>
    <div class='match_page'>
      <ul>
        <li class='listing' ng-repeat='match in matches'>
          <div class='ng-view'></div>
        </li>
        <!-- /LISTING PARTIALS -->
      </ul>
    </div>
  </body>
</html>
