/* line 16, ../sass/_base.sass */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

/* line 11, ../sass/match_styles.sass */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

/* line 16, ../sass/_base.sass */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

/* line 3, ../sass/_header.sass */
.header {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 3;
  background-color: #7787d9;
  top: 0;
}

/* line 15, ../sass/_header.sass */
#header_logo {
  height: 30px;
  width: 100px;
  position: relative;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  background-image: url("../img/SplashLogo@2x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: -35px;
  background-size: contain;
  margin-top: 10px;
}

/* line 20, ../sass/match_styles.sass */
footer {
  position: absolute;
  bottom: 0px;
}

/* line 24, ../sass/match_styles.sass */
.match_page {
  background-color: #f2f2f2;
  height: 100%;
}

/* line 28, ../sass/match_styles.sass */
#matchapp {
  height: 100%;
}

/* line 33, ../sass/match_styles.sass */
.listing {
  height: 512px;
  width: 600px;
  color: black;
  /*text-align: center */
  background-color: #fafafa;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #dee0e1;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  position: relative;
  margin-top: 75px;
  margin-bottom: 50px;
}

/* line 45, ../sass/match_styles.sass */
.match_label {
  margin-top: 35px;
  margin-bottom: 35px;
  font-family: "Arial", Times, sans-serif;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
}
/* line 56, ../sass/match_styles.sass */
.match_label b {
  font-weight: bold;
}

/* line 61, ../sass/match_styles.sass */
ul {
  list-style-type: none;
  background-color: #f2f2f2;
  padding-bottom: 50px;
}

/* line 16, ../sass/_base.sass */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

/* line 11, ../sass/_profiles.sass */
.profiles_box {
  height: 320px;
  width: 620px;
  color: black;
  /*text-align: center */
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #dee0e1;
  position: absolute;
  left: 50%;
  margin-left: -310px;
  position: relative;
}

/* line 18, ../sass/_profiles.sass */
.profile_picture {
  height: 300px;
  width: 300px;
  color: white;
  /*text-align: center */
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #dee0e1;
  border: 0px;
  margin-top: 10px;
  background-image: url("../img/square-placeholder.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
  display: -moz-inline-stack;
  display: inline-block;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 31, ../sass/_profiles.sass */
.left_pic {
  margin-left: 5px;
  margin-right: 2px;
}

/* line 35, ../sass/_profiles.sass */
.right_pic {
  margin-left: 1px;
  margin-right: 5px;
}

/* line 16, ../sass/_base.sass */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

/* line 8, ../sass/_yes_no_buttons.sass */
.yes_no_buttons {
  width: 625px;
  height: 113px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  left: 50%;
  margin-left: -312.5px;
  text-align: left;
  border-collapse: separate;
}

/* line 16, ../sass/_yes_no_buttons.sass */
.yes_button {
  width: 312px;
  height: 113px;
  background-image: url("../img/ButtonYes@2x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 23, ../sass/_yes_no_buttons.sass */
.yes_button:active {
  background-image: url("../img/ButtonYes_Active@2x.png");
}

/* line 27, ../sass/_yes_no_buttons.sass */
.no_button {
  width: 312px;
  height: 113px;
  background-image: url("../img/ButtonNo@2x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 34, ../sass/_yes_no_buttons.sass */
.no_button:active {
  background-image: url("../img/ButtonNo_Active@2x.png");
}

/* line 16, ../sass/_base.sass */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

/* line 3, ../sass/match_friend_response_options.sass */
.options_box {
  width: 620px;
  margin-right: 25px;
}

/* line 8, ../sass/match_friend_response_options.sass */
.response_option {
  width: 620px;
  margin-right: 15px;
  height: 75px;
  text-align: center;
}

/* line 18, ../sass/match_friend_response_options.sass */
.select_option {
  height: 55px;
  width: 55px;
  background-image: url("../img/NotMatchUnchecked.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  margin: 10px 0px 10px 0px;
}
/* line 33, ../sass/match_friend_response_options.sass */
.select_option:active {
  background-image: url("../img/NotMatchChecked.png");
}

/* line 36, ../sass/match_friend_response_options.sass */
.option_1 {
  position: absolute;
  left: 95px;
  margin: 10px 0px 10px 0px;
}

/* line 46, ../sass/match_friend_response_options.sass */
.option_2 {
  position: absolute;
  margin: 10px 0px 10px 0px;
  left: 500px;
}

/* line 56, ../sass/match_friend_response_options.sass */
.option_text {
  text-align: center;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  top: 25px;
}
