@import "compass";

$listing_width: 600px;
$listing_height: 512px;

$huzzah_header_background: #7787D9;
$match_box_background: #FAFAFA;
$border_color: #DEE0E1;

html, body,{
	height: 100%;
	margin: 0;
	background-color: #F2F2F2;
}

@import "header";

footer{
	position: absolute;
	bottom: 0px;
}


.match_page{
	background-color: #F2F2F2;
	height: 100%;
}

#matchapp{
	height: 100%;
}

@import "box";

.listing{
	@include box($listing_height, $listing_width, 
					$match_box_background, black);

	//margin-left: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	margin-bottom: 50px;
}

.match_label{
	margin-top: 35px;
	margin-bottom: 35px;
	
	font:{
		family: "Arial", Times, sans-serif;
		size: 20px;
	}
	
	text-align: left;
	margin-left: 20px
}

ul{
	list-style-type: none;
	background-color: #F2F2F2;
	padding-bottom: 50px;
}

@import "profiles";
@import "match_rating";

@import "match_response_options";

